@import 'tailwindcss';

body {
  @apply m-0;
  font-family:
    'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
    'Noto Sans JP', Meiryo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@page {
  size: A4 portrait;
  margin: 0;
}

@media print {
  body {
    background: #fff;
  }

  #app {
    margin: 0;
    padding: 0;
  }
}
